.swipeButtons{
    position: fixed;
    buttom: 10vh;
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    bakcground-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}
.swipeButtons_repeat{
    padding:3vw;
    color: #f5b748;
}
.swipeButtons_left{
    padding:3vw;
    color: #ec5e6f;
}
.swipeButtons_star{
    padding:3vw;
    color: #62b4f9;
}
.swipeButtons_right{
    padding:3vw;
    color: #76e2b3;
}
.swipeButtons_lightning{
    padding:3vw;
    color: #915dd1;
}